# Indroduccion a Pandas 
[Pandas](https://pandas.pydata.org/about/index.html) es una biblioteca que proporciona estructuras de datos y herramientas de analisis de datos de alto rendimiento y faciles de usar.
* La estructura de datos prnicpal de datos es el DataFrame que puede considerarese como una tabla 2D en memoria (Como una hoja de cálculo, con nombres de columnas y etiquetas de fila).
* Muchas funciones disponibles en exel, estan disponibles mediante programacion como crear tablas dinamicas crear columnas basadas en otras columnas, trazar gráficos, etc.
* Proporciona alto rendimiento para manipular unir, dividir, modificar, etc. grandes conjuntos de datos.

### Estructura de Datos con pandas 
La biblioteca de pandas, de manera generica contiene las siguientes estructuras de datos 

* **Series**: Array de una dimencion.
* **DataFrame**: Tabla de 2 dimenciones.
* **Panel**: Similar a un diccionario de DataFrames.

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/joni/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/joni/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/joni/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/joni/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/joni/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/joni/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
s = pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [4]:
# creacion de un objeto Series inicializado con un diccionario de python
Alturas = {"Gabriel": 175, "Lucero": 160, "Braulio": 180, "Jessy": 161} #diccionario
s=pd.Series(Alturas)
print(s)

Gabriel    175
Lucero     160
Braulio    180
Jessy      161
dtype: int64

In [5]:
#Crear un objeto series eh inicializarlo con algunos de los elementos de un diccionario de python 
Alturas = {"Gabriel": 175, "Lucero": 160, "Braulio": 180, "Jessy": 161}
s=pd.Series(Alturas, index=["Braulio","Gabriel"])#index para saver cuales valores obtendremos
print(s)

Braulio    180
Gabriel    175
dtype: int64

In [6]:
#Creacion de un objeto series eh inicializarlo con un escalar 
s=pd.Series(34,["Test1", "Test2", "Test3"])#esto es un escalar 
print(s)

Test1    34
Test2    34
Test3    34
dtype: int64

## Acceso a los elementos de un objeto Series.
Cada elemento en un objeto **Series** tiene un identificador unico que se denomina **Index Label**.

In [7]:
#Creacr un objeto Series 
s=pd.Series([2, 4, 6, 8], index=["Num1","Num2","Num3","Num4"])#puedes crear los index que tu quieras 
print(s)

Num1    2
Num2    4
Num3    6
Num4    8
dtype: int64

In [8]:
# Acceder a tercer elemento del objeto 
s["Num3"]

6

In [9]:
# Tambien se puede acceder al elemento por pocicion 
s[2]

/tmp/ipykernel_6985/3146080330.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

6

In [10]:
#Loc es la forma estandar de acceder   un elemento de un objeto series por atributo 
s.loc["Num3"] #Acediendo oir tributo

6

In [11]:
#iloc es la forma estandar de acceder a un elemento series por posicion 
s.iloc[2]#acediendo a la posicion

6

In [12]:
#Accediendo al segundo y tercer elemento por posicion 
s.iloc[0:4] #accedemos a los valores deseados

Num1    2
Num2    4
Num3    6
Num4    8
dtype: int64

## Operaciones Aritmeticas con Objetos Series.

In [13]:
# Creacion de un objeto series 
s=pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [14]:
#los Objetos series son similares y compatibles con los arrays de numpy 
import numpy as np
#ufunc de numpy para sumar los elementos de un array 
np.sum(s)

30

In [15]:
#el resto de las operaciones aritmeticas de Numpy sobre arrays tambien son posibles 
# nota: para mas informacion al respecto ir a la introduccion de Numpy o su documentacion
s*2

0     4
1     8
2    12
3    16
4    20
dtype: int64

## Representacion Grafica de un objeto Series

In [16]:
Temperaturas=[4.4, 5.1, 6.1, 6.2, 6.1, 6.1, 5.7, 5.2, 4.7, 4.1, 3.9]
s= pd.Series(Temperaturas, name="Temperaturas")
s

0     4.4
1     5.1
2     6.1
3     6.2
4     6.1
5     6.1
6     5.7
7     5.2
8     4.7
9     4.1
10    3.9
Name: Temperaturas, dtype: float64

In [ ]:
#Representacion Grafica 
%matplotlib inline
import matplotlib.pyplot as plt
s.plot()
plt.show()

## Creacion de un objeto DataFrame

In [ ]:
# creacion de un DataFrame inicializandolo con un diccionario de objetos series.
Personas={
    "Peso": pd.Series([70, 68, 60, 70],["Gabo","Lucero","Jessy","Braulio"]),
    "Altura": pd.Series({"Gabo":175,"Lucero": 160,"Jessy":161,"Braulio":180}),
    "Mascotas": pd.Series([4,7,],["Gabo","Braulio"])
}
df=pd.DataFrame(Personas)
df

Puede forzarse el DataFrame que presente unas columnas determinadas y en un orden determinado

In [ ]:
Personas={
    "Peso": pd.Series([70, 68, 60, 70],["Gabo","Lucero","Jessy","Braulio"]),
    "Altura": pd.Series({"Gabo":175,"Lucero": 160,"Jessy":161,"Braulio":180}),
    "Mascotas": pd.Series([4,7,],["Gabo","Braulio"])
}
df=pd.DataFrame(
    Personas,
    columns=["Altura", "Peso"],
    index=["Gabo","Braulio","Lucero"])
df

In [ ]:
#creacion de un dataframe e inicializarlo con una lista de lista de python 
#nota: deben espesificarse las columnas e indices por separado 
valores=[
    [167,2,70],
    [180,2,70],
    [175,3,68]
]
df=pd.DataFrame(
    valores,
    columns=["Altura","Mascotas","Peso"],
    index=["Gabo","Braulio","Lucero"]  
)
df